html {
  min-height: 100%
}

body {
  height: 100%
background: rgb(180,176,195);
background: linear-gradient(180deg, rgba(180,176,195,1) 0%, rgba(93,172,224,1) 30%, rgba(95,66,196,1) 100%) fixed;
  font-family: arial;
  margin: 0;
  background-repeat: no-repeat;
  background-attachent: fixed;
}

h2 {
  background:#87bdd8;
  width: 50%;
  margin: auto;
  padding: 10px;
  box-shadow: 10px 5px 5px rgba(99, 115, 242, 1);
}

.center {
  margin: auto;
  vertical-align: middle;
  text-align: center;
}

.imageRound{
  border-radius: 25px;
}
