body {
  background: linear-gradient(-45deg, #ffd1b2, #fff9c9, #51bcff, #3900ff);
  background-repeat: repeat;
  background-size: 100% 900%;
  animation: gradient 10s ease infinite;
  height: 100%;
  overflow: hidden;
  overflow-x: hidden;
}
a:hover{
  color:rgb(83, 83, 83)
}

.table-wrap>* {
  display: table-cell;
}

.table-wrap {
  width: 100%;
}

.table-wrap>* {
  box-sizing: border-box;
  width: 33.33%;
  padding: 10px;
}

.websiteTitle{
  position:relative;
  width:100%;
  font-weight: 600;
  font-size: 2em;
  background-size: cover;
  background-color: rgb(173, 173, 173);
}

.Landing{
  position: sticky;	top: 0;
  z-index: 35;
  background-size: cover;
}

.flex-container {
  width: 80%;
  min-height: 300px;
  margin: 0 auto;
  display: flex;
}

.highlight-link{
  box-shadow:inset 0 -0.225rem 0 #07b0ff;
  box-sizing:border-box;
  color:#07b0ff;
  display:inline-block;
  padding:0.125rem 0.125rem;
  transition:all 0.2s ease-in-out;
  padding: 10px;

}

.highlight-link:hover{
  box-shadow:inset 0 -2rem 0 0 #07b0ff;
  color:#fff
}

.image{
  border-radius: 6px;
}

a {
  text-decoration: none;
}

.conditionalText {
  visibility: hidden;
  position: absolute;
  top: -999999px;
}

.textOverlay {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.button {
  display: inline-block; /* Make the button elements appear inline */
  width: 23.33%; /* Set the width to be one-third of the container */
  margin: 1px; /* Add a 1% margin around the button elements */
}

.banner {
  background-color: #FFFFFF;
  width: 50%;
  border-radius: 6px;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  font-family: Verdana;
  margin:auto;
  margin-bottom: 20px;
  margin-top:20px;
}

.shadGradient {
  box-shadow: 10px, black;
}

.center {
  margin: auto;
  text-align: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}